<%= form_with(model: friendss) do |form| %>
  <% if friendss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friendss.errors.count, "error") %> prohibited this friendss from being saved:</h2>

      <ul>
        <% friendss.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <% form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
  </div>

  <div class="field form-group">
    <% form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
  </div>

  <div class="field form-group">
    <% form.label :email %>
    <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
  </div>

  <div class="field form-group">
    <% form.label :phone %>
    <%= form.text_field :phone, class:"form-control", placeholder:"Phone Number" %>
  </div>

  <div class="field form-group">
    <% form.label :twitter %>
    <%= form.text_field :twitter, class:"form-control", placeholder:"Twitter" %>
  </div>

    <div class="field form-group">
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :friendss_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>
<br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
