<p id="notice"><% notice %></p>

<% if user_signed_in?%>

<p><%= current_user.inspect%> </p>
<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr class="table-dark">
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
    </tr>
  </thead>

  <tbody>
    <% @friendsses.each do |friendss| %>
      <% if friendss.user == current_user %>
        <tr>
        
          <td><%= link_to friendss.first_name + ' ' + friendss.last_name, friendss %> </td>
          <td><%= friendss.email %></td>
          <td><%= friendss.phone %></td>
          <td><%= friendss.twitter %></td>
          <% friendss.user_id %>
          <% link_to 'Destroy', friendss, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>
        </tr>
      <% end %> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friendss_path, class:"btn btn-primary" %>
<% else %>

<h1>Hello World</h1>
<p>This is my first page</p>

<% end %>